.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 20px;
}

.btn {
  background-color: #FF0143;
  padding: 12px 24px;
  color: #121212;
  border-radius: 4px;
  max-width: 320px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.evento {
  display: flex;
  gap: 10px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0px 40px;
  }
}
