.obrigado-bg {
  background-image: url("../img/obrigado.jpg");
  height: 900px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
body {
  background-color: black;
}

.cta-obg {
  font-size: 700;
  display: flex;
  gap: 10px;
}

.obrigado h1 {
  padding-top: 60px;
}

.obrigado a {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.who-box2 {
  max-width: 660px;
  padding: 40px;
  margin: 40px auto 0 auto;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.who-box2 p:first-of-type {
  margin-bottom: 12px;
}

.who-box2 p:last-of-type {
  margin-bottom: 12px;
  margin-top: 12px;
}

@media (max-width: 800px) {
  .obrigado-bg {
    background-image: url("../img/obrigado-800.jpg");
  }
}

@media (max-width: 431px) {
  .obrigado h1 {
    font-size: 2rem;
  }

}